<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/users">click user</a>
    <a href="/users/123">click user info</a>
    <a href="/books/add">click books add</a>
  </body>
</html>
